


/*----------------------------------------------------------------------------*/


/*--------------------------- BACKGROUND -------------------------------------*/

body, html {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;

    /* The image used */
/*
    background-image: url(revolt-back.jpg); *
    z-index: -1;

    /* Center and scale the image nicely */
    background-color: #1126CC;
    background-repeat: no-repeat;
    background-size: cover;
      vertical-align: middle;

}


/*------------------------- WE ARE ----------------------->*/

.intro-text{
    max-width: 60%;
    height: auto;
    margin: 100px auto 0;

}

#we-are{
    font-family: 'Roboto Mono', monospace;
    font-size: 15pt;
    font-weight: 400;
    color: #D8D8D8;
    line-height: 2;
    letter-spacing: 0px;
    text-align: center;
  }

/*--------------------------- DESCRIPTION -----------------------------------*/


.bottom{
    max-width: 100%;
    max-height: 300px;
    margin-top: 200px;
}

#why p{
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
    line-height: 1;
    letter-spacing: 3.1px;
    font-weight: 700;
    text-align: center;
    color: #D8D8D8;
}


#logo{
    max-width: 10px;
    margin: 200px auto 0px;
}


.clear{
    clear: both;
}


.rectangle{
    height: 20px;
    width: 200px;
    background-color: #122dff;
}




/*--------------------------- RESPONSIVE -----------------------------------*/

@media only screen and (max-width: 640px) {

     #header{
        top: 0px;
        left: -10px;
    }

    #letsrevolt-blue{
    left: 8px;
    top: 10px;

    }

   #letsrevolt .revolt {
      font-size: 200px;
   }

    #letsrevolt .lets {
      font-size: 200px;
   }

    #letsrevolt-blue .revolt-blue {
      font-size: 200px;
   }

    #letsrevolt-blue .lets-blue {
      font-size: 200px;
   }

    #header-container{
            height: 315px;
    }



    #we-are{
        font-size: 48px;

    }

    .team{
        width: 330px;
        font-size: 14px;
    }

    #looking-content{
        font-size: 14px;
    }

    .looking{
        width: 330px;
    }

    #p-bold{
        font-size: 22px;
    }


    #future-together{
        font-size: 80px;
        text-align: left;
    }

    #future-together-blue{
        font-size: 80px;
        text-align: left;
    }

    #reg-future{
        font-size: 120px;
    }

     #reg-future-blue{
        font-size: 120px;
    }

    .in-it{
        width: 360px;
    }

    .perks{
        font-size: 35px;
    }

    #perks-important{
        font-size: 35px;
    }

    #no-position {
        font-size: 18px;
    }

    #why p{
        font-size: 20px;
    }

}



@media only screen and (max-width: 425px) {



  #logo{
      max-width: 10px;
      margin: 100px auto 0px;
  }

  .intro-text {
    max-width: 80%;
  }

  #we-are{
      font-size: 10pt;
  }

  #why p{
      font-size: 8pt;
  }

}



@media only screen and (max-width: 375px) {
    #logo{
        max-width: 10px;
        margin: 100px auto 0px;
    }

    .intro-text {
      max-width: 80%;
    }

    #we-are{
        font-size: 10pt;
    }

    #why p{
        font-size: 8pt;
    }


}


@media only screen and (max-width: 320px) {

   #letsrevolt .revolt {
      font-size: 150px;
   }

    #letsrevolt .lets {
      font-size: 150px;
   }

    #letsrevolt-blue .revolt-blue {
      font-size: 150px;
   }

    #letsrevolt-blue .lets-blue {
      font-size: 150px;
    }

    .intro-text{
        margin-top: 80px;
    }

    #we-are{
        font-size: 36px;
    }

    .team{
        width: 300px;
        font-size: 15px;
    }

    .looking{
        width: 300px;
    }

    #p-bold{
        font-size: 20px;
    }

    #future-together{
        font-size: 60px;
        text-align: left;
    }

    #future-together-blue{
        font-size: 60px;
        text-align: left;
    }

    #reg-future{
        font-size: 100px;
    }

     #reg-future-blue{
        font-size: 100px;
    }

    .in-it{
        width: 300px;
    }

}
